<div class="container">
  <h1 class="page-header">Dashboard</h1>
  <div class="row">
    <div class="col-lg-6">
      {{outlet}}
    </div>
    <div class="col-lg-4">
      {{dashboard-page model=model}}
    </div>
  </div>
</div>
